.input-container {
  position: relative;
  margin-top: 20px;
}

.input-field {
  width: 100%;
  padding: 12px 16px;
  outline: none;
}

.input-colored {
  @apply border border-springBlueLight-400 text-springBlueLight-400 dark:border-springOrange dark:text-springOrange;
}

.input-neutral {
  @apply border border-springBlueLight-400 text-springBlueLight-400 dark:border-springBlueLight-300 dark:text-springBlueLight-100;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: all 0.2s;
  pointer-events: none;
  padding: 0 5px;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: 0;
  font-size: 14px;
}
