.input-container {
  position: relative;
  margin-top: 20px;
}

.input-field {
  width: 100%;
  padding: 14px 16px;
  outline: none;
  @apply border border-InputBorderLight dark:border-InputBorderDark;
}

.input-field:focus {
  @apply border-InputActiveBorderLight dark:border-InputActiveBorderDark;
}

.input-label {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  transition: all 0.2s;
  pointer-events: none;
  padding: 0 5px;
  @apply bg-BgPrimaryLight dark:bg-BgPrimaryDark text-TxtAccentLight dark:text-TxtAccentDark;
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: 0;
  font-size: 14px;
}

.input-wrapper .info {
  font-size: 14px;
  margin-top: 4px;
}

.input-wrapper .info.error {
  @apply text-RedShadeLight;
}

.input-field.error {
  @apply border-RedShadeLight;
}
