@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

:root {
  --bg-color: #ededf2;
  --text-color: #4d4562;
}

body {
  font-family: "Inter Variable", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;
  font-weight: 500;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.light {
  --bg-color: #ededf2;
  --text-color: #4d4562;
}

body.dark {
  --bg-color: #342f42;
  --text-color: #dbd2f5;
}
